*{margin: 0;padding: 0;}
body {margin-top: 50px;font-family:  monospace; text-align: center;}
.wrapper{ margin: 0 auto;}
#board{border-radius: 8px;}
.gameTitle{color: red;font-family: Arial, Helvetica, sans-serif; margin-right: 50px;}
.ruleBox{width: 800px; margin: 0 auto;border: 2px solid black;padding-left: 80px;}
p{font-size: 60px;font-weight: bold;margin: 10px;color: green;margin-right: 50px;}
.rules{margin-top: 30px;text-align: left;font-size: 30px;}
.btn{width: 150px;height: 50px;border-radius: 10px;background-color: red;color: white;margin: 40px 100px 40px 0;font-size: 20px;}
.btn1{width: 150px;height: 50px;border-radius: 10px;background-color: red;color: white;margin: 10px 10px 20px 20px;font-size: 20px;}
.btn:hover{cursor: pointer;background-color: green;}
.btn1:hover{cursor: pointer;background-color: green;}
#board{border: 1px solid #333;display: inline-block;}
.row{font-size: 0px;}
.col {display: inline-block;width: 50px;height: 50px;background-color: #eee;border-right: 1px solid white;border-bottom: 1px solid white;vertical-align: top;color: black;font-size: 20px;line-height: 50px;transition: all 1.0s;border-radius: 8px;}
.col.hidden.mine{background-color: red;}
.col.hidden {background-color: #15b3b3;cursor: pointer;}
.col.hidden:hover{background-color: #eee;}
.row:last-child .col{border-bottom: none;}
.row .col:last-child{border-right: none;}
#show_result_Win{background-color: rgb(66, 211, 90);margin: 1px 1px 1px 1px;font-size: larger;}
#show_result_Loss{background-color: rgb(221, 66, 66);margin: 1px 1px 1px 1px;font-size: larger;}
#timer{font-size: 40px;color: rgb(218, 31, 31); float:left;clear: both;border: 2px solid black; border-radius: 1px;}
#score_count{font-size: 40px;color: green; float: right;clear: both;border: 2px solid black; border-radius: 1px;}
/* #button_div{        margin-left: 60px;
  margin-right: 60px;} */
.upper_Layer{margin: 15% auto 15% auto;width: 50%;top: 0;left: 0;right: 0;left: 0;background-color:white;z-index: 2;position: fixed; }
.background_Layer{height: 100%;width: 100%;top: 0;left: 0;bottom: 0;right: 0;background: rgba(0, 0, 0, 0.6);position: fixed;z-index: 1;}
.Container_win{padding:70px 10px;border: 2px solid black;position: relative;border-top: 10px solid #1ee550;font-size: 30px;}
.Container_loss{padding:70px 10px;border: 2px solid black;position: relative;border-top: 10px solid #ce1919;font-size: 30px;}
.close_button{position: absolute;font-size: 40px;top: 5;right: 10px;font-weight: bolder;}
/* .close_button:hover{background:red ;} */